<!DOCTYPE html>
<html>
    <head>
        <title>
            Add Run
        </title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'addrun_style.css')}}">
    </head>

    <body>
        <!--background image-->
        <div class="bgimg">
            <!-- The Heading of the home page -->
            <div class="mainhead">
                <h1>
                    Satisfy
                </h1>
            </div>

            <!--this is the navigation bar-->
            <div class = "navigation">
                <ul>
                    <li><a href="{{ url_for('homepage') }}">Home</a></li>
                    <li><a class="active" href="{{ url_for('addrun') }}">Add Run</a></li>
                    <li><a href="{{ url_for('create_challenge') }}">Create Challenge</a></li>
                    <li><a href="{{ url_for('challenges') }}">Challenge List</a></li>
                    <li><a href="{{ url_for('friends') }}">Friends</a></li>
                    <li><a href="{{ url_for('history') }}">History</a></li>
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                    <li style="float:right"><h3 class="contact">Contact: satisfy@gmail.com</h3></li>
                </ul>
            </div>

            <!--Run details-->
            <form action="https://127.0.0.1:5000/addrun" method="POST">
                <div class="dist">
                    <div class="kms">
                        Distance(km) 
                        <input type="number" placeholder= "km" name="dist_km" value=" ">
                    </div>
                    <div class="mts">
                        Distance(mts)
                        <input type="number" placeholder="m" name="dist_m" value=" ">
                    </div>
                </div>

                <div class="duration">
                    <div class="hrs">
                        Duration(hrs)
                        <input type="number" placeholder = "Hours" name="time_hours" value=" ">
                    </div>
                    <div class="mins">
                        Duration(mins)
                        <input type="number" placeholder="Minutes" name="time_min" value=" ">
                    </div>
                    <div class="secs">
                        Duration(secs)
                        <input type="number" placeholder="Seconds" name="time_sec" value=" ">
                    </div>
                </div>
                <div class="runtype">
                    <h4>Run Type</h4>
                    <select class="type" name="type">
                        <option value="Sprint">Sprint</option>
                        <option value="Marathon">Marathon</option>
                        <option value="Jog">Jog</option>
                        <option value="Recovery run">Recovery Run</option>
                    </select>

                    <div class="date">
                        Date 
                        <input type="date" placeholder="Date in DD/MM/YY" name="date" value=" ">
                    </div>
                </div>
            
                <!--Submit-->
                <div class="subbutton">  
                    <!--<input type="submit" name="submit" value="Start satisfy">-->
                    <button class="button">
                        <span>
                            <input type="submit">
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>