<!DOCTYPE html>
<html>
    <head>
        <title>
            Home Page
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'home_style.css') }}">
    </head>

    <body>
        <!--background image-->
        <div class="bgimg">

            <!-- The Heading of the home page -->
            <div class="mainhead">
                <h1>
                    Satisfy
                </h1>
            </div>

            <!--this is the navigation bar-->
            <div class = "navigation">
                <ul>
                    <li><a class="active" href="home.html">Home</a></li>
                    <li><a href="{{ url_for('addrun') }}">Add Run</a></li>
                    <li><a href="{{ url_for('create_challenge') }}">Create Challenge</a></li>
                    <li><a href="{{ url_for('challenges') }}">Challenge List</a></li>
                    <li><a href="#contact">Add Friend</a></li>
                    <li><a href="{{ url_for('history') }}">History</a></li>
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                    <li style="float:right"><h3 class="contact">Contact: satisfy@gmail.com</h3></li>
                </ul>
            </div>

            <div>
                <ul style="color: white">
                    <li>Time : {{time}}</li>
                    <li>Distance : {{distance}}</li>
                    <li>Speed : {{speed}}</li>
                </ul>
            </div>
        </div>
    </body>
</html>


