<!DOCTYPE html>
<html>
    <head>
        <title>
            Home Page
        </title>
        <!--General CSS-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'home_style.css') }}">
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
    </head>

    <body>
        <!--background image-->
        <div class="bgimg">

            <!-- The Heading of the home page -->
            <div class="mainhead">
                <h1>
                    Satisfy
                </h1>
            </div>

            <!--this is the navigation bar-->
            <div class = "navigation">
                <ul>
                    <li><a class="active" href="home.html">Home</a></li>
                    <li><a href="{{ url_for('addrun') }}">Add Run</a></li>
                    <li><a href="{{ url_for('create_challenge') }}">Create Challenge</a></li>
                    <li><a href="{{ url_for('challenges') }}">Challenge List</a></li>
                    <li><a href="{{ url_for('friends') }}">Friends</a></li>
                    <li><a href="{{ url_for('history') }}">History</a></li>
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                    <li style="float:right"><h3 class="contact">Contact: satisfy@gmail.com</h3></li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <p>sujay sfkfhdsakj gfgdsaghj gsdhhasdgh ksklda
                        sdjhsdag fjhdsga fkhhsdf
                        dfsh gjfjsgdjf jhdsgkjfgskhda
                        sd fgjdsagfjgdsjk fdsfbjsdfdsjf
                    </p>
                </div>

                <div class="col-md-4">
                        <img src="emoji.png" alt="bolt" width="400" height="400">
                </div>
                
                <div class="col-md-4">
                    <p>good bsdfhgsajcbgfjgbjhd
                        sdcgfdfsjgcfjb
                        csbfdjdsfgcfgdsjg
                        sdfcgbdsjfbjoy</p>
                </div>

                <!--<ul style="color: white">
                    <li>Time : {{time}}</li>
                    <li>Distance : {{distance}}</li>
                    <li>Speed : {{speed}}</li>
                </ul>-->
            </div>
        </div>
    </body>
</html>


