<!DOCTYPE html>
<html>
    <head>
        <title>
            Sign Up
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'signup_style.css') }}">
    
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
    </head>

    <body>
        <!--Main heading-->
        <div class="head">
            <h1>
                Sign Up 
            </h1>
        </div>

        <!--Details section-->
        <div class="detail">
            <form action="https://127.0.0.1:5000/signup" method="POST" >
                <!--Name-->
                <!--First name-->
                <div class="first">
                   First name<input type="text" placeholder="Enter First name" name="fname" value="">
                </div>

                <!--Last name-->
                <div class="last">
                    Last name<input type="text" placeholder="Enter Last name" name="lname" value="">
                </div>
           
                <!--Username and password-->
                <div class="unique">        
                    <!--Username-->
                    <div class="unique_val">
                        Email<input type="text" placeholder="Enter Email" name="mail" value="">
                        {% if existing_user %}
                        <p> {{ existing_user }} </p> 
                        {% endif %}
                    </div>

                    <!--Password-->
                    <div class="unique_val">
                        Password <input type="password" placeholder="Enter Password"name="passwd" value="">
                    </div>
                        
                    <!--Repeat Password-->
                    <div class="unique_val1">
                        Repeat Password <input type="password" placeholder="Repeat Password"name="rpasswd" value="">
                        {% if not_matching_passwd %}
                        <p> {{ not_matching_passwd }} </p>
                        {% endif %}
                    </div>
                </div>

                <!--Details and rules-->
                <div class="pr">
                    <!--Personal details-->
                    <div class="personal">
                        <!--Age and Gender-->
                        <div class="ag">
                            <!--Age-->
                            <div class="age">
                                DOB <input type="date" placeholder="Enter Age" name="dob" value="Age">
                            </div>

                            <!--Gender-->
                            <div class="gen">
                                <p> Gender </p>
                                <input type="radio" name="gender" value="Male"> Male<br>
                                <input type="radio" name="gender" value="Female"> Female<br>
                                <input type="radio" name="gender" value="Other"> Other
                            </div>
                        </div>

                        <!--Height and Weight-->
                        <div class="stat">
                            <!--Height-->
                            <div class="h">
                                Height <input type="number" placeholder="Enter Height" name="height" value="173cm">
                            </div>

                            <!--Weight-->
                            <div class="w">
                                Weight <input type="number" placeholder="Enter Weight"name="weight" value="70kg">
                            </div>

                            <!--City-->
                            <div class="city">
                                City <input type="text" placeholder="Enter City" name="city" value="">
                            </div>
                        </div>

                        <!--Submit-->
                        <div class="subbutton">
                            <!--<input type="submit" name="submit" value="Start satisfy">-->
                            <button class="button">
                                <span>
                                    <input type="submit">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>